<head>
  <script src="https://use.typekit.net/ibp6hum.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>

<div class="clinical_trial_search">
  <div class="clinical_trial_search_container">
    <h1>Clinical Trial Search</h1>
  </div>
</div>

  <%= link_to "Sign up now!", signup_path %>
  <%= link_to "Show Clinical Trial Data", clinicaltrials_path %>
</div>