<div class="center jumbotron">
  <h1>Cancer Research Connect Home Page</h1>

  <h2>
    This site is currently under development. New test message.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Show Clinical Trial Data", clinicaltrials_path, class: "btn btn-lg btn-primary" %>
</div>